.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  
  .userDetails-sidebar {
    margin-bottom: 20px;
    width: 100%;
    overflow:auto;
  }
  
  .userDetails-sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .userDetails-sidebar p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  
  .allApis-sidebar {
    margin-top: 20px;
  }
  
  .apis-container-sidebar {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .apis-container-sidebar >p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #515151;
  }
  
  .api-sidebar-option {
    font-size: 18px;
    color: #1f1f1f;
    margin: 9px 0;
    cursor: pointer;
  }
  
  /* Scrollbar styling */
  .sidebar::-webkit-scrollbar {
    width: 5px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  